<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tic Tac Toe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E2B433C1DEB45E200F3DBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2B43551DEB45E400F3DBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E2B43601DEB45E400F3DBE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
